<h1>Nombre de la mascota: {{ name }}</h1>
<div mat-dialog-content>
    <div>
        <p>Especie a la que pertenece la mascota: <strong>{{ kind }}</strong></p>  
        <p>Raza de la mascota: <strong>{{ breed }}</strong></p>
        <p>Mes y año de nacimiento: <strong>{{ dob }}</strong></p>
        <h3>Datos de contacto de la institución</h3>
        <p>Nombre: <strong>{{ institution }}</strong></p> 
        <p>Telefono: <strong>{{ phone }}</strong></p> 
        <p>Correo: <strong>{{ email }}</strong></p>
    </div>
  
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>