/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    background: white center center;
    background-size: cover;
    color: black;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    max-height: 100;
    margin: 0;
    font-family: 'Baloo Da 2', cursive;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
